body {
  padding-bottom: 10vh;
}

body {
  background-image: url('background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
}
