<footer class="text-dark py-4 mt-5">
  <div class="container text-center">
    <p class="mb-1">Designed with ♥️ by the CarboData Team.</p>
    <p class="mb-1">&copy; <%= Time.current.year %> CarboDataIA.</p>
  </div>
</footer>
