<div class="container-div container">
  <div class="card shadow-sm rounded-5 mt-4 p-4">
    <div class="text-center">
      <h1 class="header-home display-5 fw-bold text-primary">🧺🫛Tous mes CarboDucts🥩🧺</h1>

      <div class="row justify-content-center mt-4">

        <% @items.each do |item| %>

          <div class="col-6 col-md-4 col-lg-3 mb-4">

            <%= link_to item_path(item[:id]), class: "d-block text-decoration-none h-100" do %>
              <div class="div-item-button primary-item-style w-100 px-4 py-3">
                <%= "#{item.name} - #{item.brand}" %>
              </div>
            <% end %>

          </div>
        <% end %>

      </div>

      <%= link_to "Ajouter un CarboDuct", new_item_path, class: "btn btn-primary btn-lg d-grid mt-4" %>
    </div>
  </div>
</div>
