.navbar {
  position: fixed;
  bottom: 0;
  min-height: 10vh;
  min-width: 100%;
  z-index: 20;
  background-color: #EAEAEA;
}

.navbar .nav-item {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar .nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -23px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar .btn {
  color: #3b82f6;
  border: none;
}

.navbar .btn:hover {
  color: #033cb5;
}
