body {
  background-color: #EAEAEA;
  font-family: 'Roboto', sans-serif;
}

.page-container {
 min-height: 90vh;
}

.placeholder-custom::placeholder {
  font-family: 'Courier New', monospace; /* Police du placeholder */
  font-size: 16px;
  color: #999;
  font-style: italic;
}

.custom-font {
  font-family: 'Courier New', monospace; /* Police du placeholder */
  font-size: 16px;
  color: #999;
  font-style: italic;
}
