body {
  background-color: #EAEAEA;
  font-family: 'Roboto', sans-serif;
}

.page-container {
 min-height: 90vh;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  filter: invert(100%);
  opacity: 0.9;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}
